{% extends 'loginsys/register.html' %}
{% block body_content %}
    <div class="container">

    <div class="col-md-4">
        <form method="POST">
            {% csrf_token %}
            <div class="input-group" style="margin-top: 10px;">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                {{ form.old_password }}
            </div>
            <span style="color: red; font-size: 11px;"><i>{{ form.old_password.errors}}</i></span>
            <div class="input-group" style="margin-top: 10px;">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                {{ form.new_password1 }}
            </div>

            <span style="color: red; font-size: 11px;"><i>{{ form.new_password1.errors }}</i></span>
            <div class="input-group" style="margin-top: 10px;">
                <span class="input-group-addon"><i class="glyphicon glyphicon-lock"></i></span>
                {{ form.new_password2}}
            </div>
            <span style="color: red; font-size: 11px;"><i>{{ form.new_password2.errors }}</i></span>
            <button type="submit" style="margin: 20px 0px;" class="btn btn-default btn-block">Сохранить</button>
        </form>
    </div>
    </div>
{% endblock %}
